.navbar {
  background-color: white;
  height: 4rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  display: flex;
  border-bottom: 1px solid #d4d4d4;
  width: 99%;
}

.navbarBrand {
  display: flex;
  align-items: center;
  margin: 0 0 0 0.5rem;
  font-size: 25px;
  font-weight: 700;
}

.browse {
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  padding: 0.3rem 0 0 0;
  font-size: 18px;
  gap: 0.2rem;
}

.navbarSearchBox {
  background-color: #F2F5FA;
  padding: 0.5rem;
  border-radius: 1.5rem;
  margin-top: 11px;
  display: flex;
  width: 18rem;
  height: 1.5rem;
}

.navSearchInput {
  border: none;
  background-color: #F2F5FA;
  width: 100%;
}

.navbarRight {
  display: flex;
  margin-left: 56rem;
}

.sidebarWrapper {
  text-align: center;
  border-right: 1px solid #d1d1d1;
  padding: 0.5rem;
  height: 89vh;
  width: 4%;
}

.sideBarElements {
  margin-bottom: 0.5rem;
}